                
                
                <div class="myfooter">
                  <div class="mycon container">
                    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                        <div class="col-md-3 col-sm-6 myelement">
                            <a href="#">Privacy Policy</a>
                        </div>
                        <div class="col-md-3 col-sm-6 myelement">
                            <a href="#">Contact Us</a>
                        </div>
                        <div class="col-md-3 col-sm-6 myelement">
                            <a href="#">Socials</a>
                        </div>
                        <div class="col-md-3 col-sm-6 myelement">
                            <a>2018 &copy; Webservice</a>
                        </div>
                    </div>
                   </div>
                </div>
            
                <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollto/1.4.6/jquery-scrollto.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
                <script src="frontfunc.js"></script>
                <script src="dist/youscroll.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>